@import '../common/icons.scss';

#app {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  header {
    height: .44rem;
    background: #00b38a;
  }
  main {
    flex: 1;
  }
  nav {
    height: .44rem;
    ul {
      height: .44rem;
    }
  }
}