<div class="container">
  <header>拉钩网</header>
  <main>
    <div>
      <h3>十秒钟定制职位</h3>
      <button>去登录</button>
    </div>
    <ul>
      <li>
        <img src="//www.lgstatic.com/i/image3/M00/2E/F2/Cgq2xlqglPaAErj7AAAs-Ohjutg470.png">
        <div class="item-desc">
          <h2 class="item-title">考试星</h2>
          <p class="item-info">
            <span class="item-pos">
              <b>销售经理（电销向） [ 北京 ]</b>
            </span>
            <span class="item-salary">99k-100k</span>
          </p>
          <p class="item-time">今天 09:28</p>
        </div>
      </li>
      <li>
        <img src="//www.lgstatic.com/i/image3/M00/2E/F2/Cgq2xlqglPaAErj7AAAs-Ohjutg470.png">
        <div class="item-desc">
          <h2 class="item-title">考试星</h2>
          <p class="item-info">
            <span class="item-pos">
              <b>销售经理（电销向） [ 北京 ]</b>
            </span>
            <span class="item-salary">99k-100k</span>
          </p>
          <p class="item-time">今天 09:28</p>
        </div>
      </li>
      <li>
        <img src="//www.lgstatic.com/i/image3/M00/2E/F2/Cgq2xlqglPaAErj7AAAs-Ohjutg470.png">
        <div class="item-desc">
          <h2 class="item-title">考试星</h2>
          <p class="item-info">
            <span class="item-pos">
              <b>销售经理（电销向） [ 北京 ]</b>
            </span>
            <span class="item-salary">99k-100k</span>
          </p>
          <p class="item-time">今天 09:28</p>
        </div>
      </li>
      <li>
        <img src="//www.lgstatic.com/i/image3/M00/2E/F2/Cgq2xlqglPaAErj7AAAs-Ohjutg470.png">
        <div class="item-desc">
          <h2 class="item-title">考试星</h2>
          <p class="item-info">
            <span class="item-pos">
              <b>销售经理（电销向） [ 北京 ]</b>
            </span>
            <span class="item-salary">99k-100k</span>
          </p>
          <p class="item-time">今天 09:28</p>
        </div>
      </li>
      <li>
        <img src="//www.lgstatic.com/i/image3/M00/2E/F2/Cgq2xlqglPaAErj7AAAs-Ohjutg470.png">
        <div class="item-desc">
          <h2 class="item-title">考试星</h2>
          <p class="item-info">
            <span class="item-pos">
              <b>销售经理（电销向） [ 北京 ]</b>
            </span>
            <span class="item-salary">99k-100k</span>
          </p>
          <p class="item-time">今天 09:28</p>
        </div>
      </li>
      <li>
        <img src="//www.lgstatic.com/i/image3/M00/2E/F2/Cgq2xlqglPaAErj7AAAs-Ohjutg470.png">
        <div class="item-desc">
          <h2 class="item-title">考试星</h2>
          <p class="item-info">
            <span class="item-pos">
              <b>销售经理（电销向） [ 北京 ]</b>
            </span>
            <span class="item-salary">99k-100k</span>
          </p>
          <p class="item-time">今天 09:28</p>
        </div>
      </li>
      <li>
        <img src="//www.lgstatic.com/i/image3/M00/2E/F2/Cgq2xlqglPaAErj7AAAs-Ohjutg470.png">
        <div class="item-desc">
          <h2 class="item-title">考试星</h2>
          <p class="item-info">
            <span class="item-pos">
              <b>销售经理（电销向） [ 北京 ]</b>
            </span>
            <span class="item-salary">99k-100k</span>
          </p>
          <p class="item-time">今天 09:28</p>
        </div>
      </li>
    </ul>
  </main>
  <nav>
    <ul>
      <li class="active">
        <i class="yo-ico">&#xe6b8;</i>
        <b>职位</b>
      </li>
      <li>
        <i class="yo-ico">&#xe7da;</i>
        <b>搜索</b>
      </li>
      <li>
        <i class="yo-ico">&#xe7d5;</i>
        <b>我的</b>
      </li>
    </ul>
  </nav>
</div>