<div class="container">
  <header>拉钩网</header>
  <main id="index-scroll">
    <div>
      <div class="head">
        <img src="/images/arrow.png"/>
        <b>下拉刷新...</b>
      </div>
      <div>
        <h3>十秒钟定制职位</h3>
        <button>去登录</button>
      </div>
      <ul id="position-list"></ul>
      <div class="foot">
        <img src="/images/arrow.png"/>
        <b>上拉加载更多...</b>
      </div>
    </div>
  </main>
  <nav>
    <ul>
      <li class="active">
        <i class="yo-ico">&#xe6b8;</i>
        <b><a href="#position">职位</a></b>
      </li>
      <li>
        <i class="yo-ico">&#xe7da;</i>
        <b><a href="#search">搜索</a></b>
      </li>
      <li>
        <i class="yo-ico">&#xe7d5;</i>
        <b><a href="#profile">我的</a></b>
      </li>
    </ul>
  </nav>
</div>