<div class="container">
  <header>拉钩网</header>
  <main>
    <div class="swiper-container" id="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" id="index-scroll">
            <div>
              <div class="head">
                <img src="/images/arrow.png"/>
                <b>下拉刷新...</b>
              </div>
              <div>
                <h3>十秒钟定制职位</h3>
                <button>去登录</button>
              </div>
              <ul id="position-list"></ul>
              <div class="foot">
                <img src="/images/arrow.png"/>
                <b>上拉加载更多...</b>
              </div>
            </div>
        </div>
        <div class="swiper-slide">slider2</div>
        <div class="swiper-slide">slider3</div>
      </div>
    </div>
  </main>
  <nav>
    <ul>
      <li class="active">
        <i class="yo-ico">&#xe6b8;</i>
        <b>职位</b>
      </li>
      <li>
        <i class="yo-ico">&#xe7da;</i>
        <b>搜索</b>
      </li>
      <li>
        <i class="yo-ico">&#xe7d5;</i>
        <b>我的</b>
      </li>
    </ul>
  </nav>
</div>